<h1>Drinks</h1>

<% @drinks.each do |drink| %>
  <h3><%=link_to "#{drink.name}", "/drinks/#{drink.id}" %></h3>
  <p>Contains Alcohol: <%=drink.contains_alcohol %></p>
  <p>Drink Rating: <%=drink.drink_rating %></p>
<% end %>
