<h1><%= @menu_item.name %></h1>
<%= link_to "Edit #{@menu_item.name}", "/menu_items/#{@menu_item.id}/edit"  %>

<ul>
  <li><%= "Vegetarian?: #{@menu_item.vegetarian}" %></li>
  <li><%= "Calories: #{@menu_item.calories}" %></li>
</ul>
