<h1 >Bars</h1>
<ul>
<% @bars.each_with_index do |bar, index| %>
  <div id="bar-<%=index%>">
    <li><h4><%= link_to "#{bar.name}", "/bars/#{bar.id}" %> Created At: <%= bar.created_at %></h4></li>
  </div>
<% end %>
</ul>
