<h1>Restaurants</h1>
<ul>
<% @restaurants.each do |restaurant| %>
  <li><h4><%= link_to "#{restaurant.name}", "/restaurants/#{restaurant.id}"%><%= restaurant.created_at%></h4></li><%= button_to "Edit #{restaurant.name} Info", "/restaurants/#{restaurant.id}/edit", method: :get %>
<% end %>
</ul>

<%= link_to 'Create New Restaurant', "/restaurants/new"%>
